@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --font-instrument-sans: var(--font-instrument-sans);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
}
